<header id="header">

    <div class="container">
        <div class="row">

            <a href="/index" target="_blank" rel="noopener noreferrer" class="header_home_link">Aman
                Bhargava</a>

            <ul class="nav" id="nav_bar">

                <li class="nav-item">
                    <a href="/index" target="_self" rel="noopener noreferrer" class="nav-link">
                        HOME
                    </a>
                </li>

                <li class="nav-item">
                    <a href="/index#about" target="_self" rel="noopener noreferrer" class="nav-link">
                        About
                    </a>
                </li>

                <li class="nav-item">
                    <a href="/index#project_div" target="_self" rel="noopener noreferrer" class="nav-link">
                        Project
                    </a>
                </li>

                <li class="nav-item">
                    <a href="#contact_div" target="_self" rel="noopener noreferrer" class="nav-link">
                        Contact
                    </a>
                </li>

                <li class="nav-item">
                    <a href="/dashboard" target="_self" rel="noopener noreferrer" class="nav-link login-sign-up">
                        Dashboard
                    </a>
                </li>

            </ul>

            <a href="#side_drawer" class="menu_button">
                <span></span>
                <span></span>
                <span></span>
            </a>
        </div>
    </div>
</header>

<!-- aside -->
<aside id="side_drawer">
    <div class="container">
        <a href="#" class="menu_button">
            <i class="fas fa-times"></i>
        </a>
    </div>
    <nav>
        <a href="/index" target="_self" rel="noopener noreferrer">
            HOME
        </a>
        <a href="/index#about" target="_self" rel="noopener noreferrer">
            About
        </a>
        <a href="/index#project_div" target="_self" rel="noopener noreferrer">
            Project
        </a>
        <a href="#contact_div" target="_self" rel="noopener noreferrer">
            Contact
        </a>
        <a href="/dashboard" target="_blank" rel="noopener noreferrer" class="login-sign-up">
            Dashboard
        </a>
    </nav>
</aside>

<%- include("./socialIcons.ejs") %>