<div class="conatiner socialIconNavbar navbar-expand-lg">
    <ul class="social-icons-list">
        <li>
            <a href="https://github.com/Amanbhargava1616" class="social-link social-link-git" target="_blank"
                rel="noopener noreferrer"><i class="fab fa-github"></i></a>
        </li>
        <li>
            <a href="https://www.linkedin.com/in/aman-bhargava-30076517b/" class="social-link social-link-li"
                target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-linkedin"></i></a>
        </li>
        <li>
            <a href="mailto:amanbhargava.ab08@gmail.com" class="social-link social-link-goo" target="_blank" rel="noopener noreferrer"><i
                    class="fab fa-google"></i></a>
        </li>
        <li>
            <a href="https://www.instagram.com/amanbhargava1616/" class="social-link social-link-insta" target="_blank"
                rel="noopener noreferrer"><i class="fab fa-instagram"></i></a>
        </li>
    </ul>
</div>